@import "@styles/variables";

.section {
    padding: var(--space-3);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-0);

    @include mq("desktop") {
        grid-template-columns: repeat(5, 1fr);
    }

    li {
        font-size: 10px;
        color: #71717a;

        @include mq("desktop") {
            font-size: 14px;
        }
    }

    strong {
        font-weight: 600;
        color: #3f3f46;
        display: block;
        margin-top: 8px;

        @include mq("desktop") {
            font-size: 16px;
        }
    }
}
