@import "@styles/variables";

.thumbnail {
    display: flex;
    align-items: center;
    padding: var(--space-1) 0;
}

.image {
    margin-right: var(--space-2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;

    @include mq("desktop") {
        width: 60px;
        height: 60px;
    }
}

.description {
    font-size: 12px;
    color: #52525b;
    display: flex;
    flex-direction: column;

    @include mq("desktop") {
        font-size: 16px;
    }

    strong {
        font-size: 14px;
        color: #27272a;

        @include mq("desktop") {
            font-size: 20px;
        }
    }
}
