.radioGroup {
    position: relative;
}

.options {
    border-radius: var(--space-1);
    padding: var(--space-1) 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    width: 190px;

    position: absolute;
    margin-top: var(--space-1);
    z-index: 2;
}

.option {
    font-weight: 600;
    text-align: left;
    color: #52525b;
    display: block;
    padding: var(--space-1) var(--space-2);
    width: 100%;
}

// TODO - remover essa regra, depois que definir como vai vir os dados do back-end
.selected {
    display: none;
}

.expandButton {
    color: #fff;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #b69548;
    padding: 0 12px;
    height: 26px;
    border-radius: 20px;

    span {
        width: 14px;
        height: 14px;
        background-color: #f4f4f5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: #b69548;
        }
    }

    .isActive {
        svg {
            transform: rotate(180deg);
        }
    }
}
