.toggleButton {
    display: flex;
    align-items: center;

    &.hasButtonSpacing {
        gap: var(--space-2);

        .button {
            margin: 0;
        }
    }
}

.button {
    font-size: 12px;
    color: #a1a1aa;
    border: 1px solid #f4f4f5;
    padding: 0 var(--space-2);
    height: var(--height-button-small);
    background-color: #fafafa;
    border-radius: 20px;
    transition: border-color 0.2s ease, color 0.2s ease;
    position: relative;
    z-index: 2;

    + .button {
        margin-left: calc(var(--space-1) * -1);
    }

    &.isActive {
        color: #b69548;
        border-color: #b69548;
        z-index: 3;
    }
}
