.container {
    max-width: var(--width-container);
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
    align-items: center;
}
