@import "@styles/variables";

.title {
    font-size: 18px;
    color: #3f3f46;

    @include mq("desktop") {
        font-size: 20px;
    }
}

.description {
    font-size: 14px;
    color: #71717a;
    margin: var(--space-1) 0 var(--space-2);

    @include mq("desktop") {
        font-size: 16px;
    }
}

.stepperContainer {
    display: flex;
}

.stepperItem {
    display: flex;
    flex-direction: column;
    min-height: 246px;
    transition: opacity 1.2s ease;
    opacity: 1;
    transform: translate(0);
    width: 100%;

    &.second {
        min-height: 74vh;

        @include mq("desktop") {
            min-height: auto;
            max-height: 600px;
            height: 100vh;
        }
    }

    &.hide {
        opacity: 0;
        width: 0;
        min-height: 0;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transform: translate(9999px);
    }

    > button {
        margin-top: auto;
    }
}

.containerSong {
    margin: var(--space-2) 0;
    overflow: auto;
    height: 50vh;
}

.totalSong {
    font-size: 12px;
    color: #b69548;
}

.loading {
    margin: 0 auto;
    display: block;
}

.notFound {
    font-size: 12px;
    margin: var(--space-2) 0;
    color: #71717a;
}
