@import "@styles/variables";

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-0) var(--space-2);

    @include mq("phone-small") {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq("phablet") {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-4) var(--space-0);
    }

    @include mq("tablet-wide") {
        grid-template-columns: repeat(5, 1fr);
    }
}

.link {
    strong {
        font-size: 14px;
        color: #b69548;
        margin-top: var(--space-1);
        display: inline-block;
        line-height: 1;

        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        white-space: pre-wrap;
    }
}
