@import "@styles/variables";

.content {
    flex: 1;
}

$avatar-size: 80px;

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--space-0);

    @include mq("desktop") {
        margin-bottom: var(--space-0);
    }
}

.avatar {
    width: $avatar-size;
    height: $avatar-size;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);

    @include mq("desktop") {
        $avatar-size: 140px;
        width: $avatar-size;
        height: $avatar-size;
    }
}

.title {
    font-size: 18px;
    margin-bottom: var(--space-2);
}
