.title {
    font-family: var(--font-bebas);
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #f5f3f0;
    max-width: 182px;
    position: absolute;
    left: var(--space-3);
    bottom: var(--space-3);
}
