@import "@styles/variables";

.section {
    margin-bottom: var(--space-0);

    .button {
        font-size: 14px;
        line-height: 30px;
        width: 190px;

        @include mq("desktop") {
            font-size: 20px;
            width: 240px;
            line-height: 48px;
        }
    }
}
