@import "@styles/variables";

.changeFont {
    font-size: 12px;
    font-weight: 600;
    color: #52525b;
    min-width: 108px;
    background-color: #f5f3f0;
    border-radius: 20px;
    height: var(--height-button-small);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
    flex: 1;
    transition: opacity 0.2s ease;

    @include mq("desktop") {
        background-color: #fff;
        justify-content: space-around;
    }

    svg {
        fill: #b69548;
        display: flex;
        align-items: center;
        width: 20px;
        height: 20px;
    }
}

.button {
    &:disabled {
        opacity: 0.5;
    }
}
