@import "@styles/variables";

.aside {
    display: none;

    @include mq("desktop") {
        display: block;
        margin-left: auto;
        width: var(--width-sidebar);

        position: absolute;
        top: 12px;
        right: 0;
        bottom: 0;
    }
}

.tag {
    margin-bottom: 12px;
    display: block;
}

.advertising {
    margin-bottom: var(--space-4);

    &:last-child {
        margin-bottom: 0;
    }
}

.sticky {
    position: sticky;
    top: var(--space-2);
}
