.button {
    font-size: 12px;
    width: 24px;
    height: 24px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b69548;

    &:disabled {
        opacity: 0.6;
    }

    svg {
        width: 16px;
        height: 16px;
        fill: #fff;
    }

    &.white {
        background-color: #fff;

        svg {
            fill: #b69548;
        }
    }

    &.borderless {
        border: none;
    }
}
