@import "@styles/variables";

.sectionBanner {
    padding: var(--space-3);

    @include mq("desktop") {
        padding: var(--space-4);
    }
}

.container {
    color: #fff;
    position: absolute;
    padding: var(--space-2);

    @include mq("desktop") {
        padding: var(--space-4);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.banner {
    border-bottom: 3px solid #b69548;
    border-radius: 8px;
}

.title {
    font-size: 18px;

    @include mq("desktop") {
        font-size: 32px;
    }
}

.description {
    font-size: 12px;
    max-width: 192px;
    margin-top: var(--space-1);

    @include mq("desktop") {
        font-size: 28px;
        max-width: 390px;
    }
}
