.tagLink {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: var(--primary);
    border-radius: 20px;
    padding: 0 10px;
    line-height: 22px;
    border: 1px solid var(--primary);
}
