.repertoire {
    margin-bottom: var(--space-3);
}

.title {
    padding-top: var(--space-3);
    padding-left: var(--space-3);
}

.viewMore {
    position: absolute;
    top: var(--space-3);
    right: var(--space-3);
}
