@import "@styles/variables";

.repertoire {
    margin-bottom: var(--space-3);

    @include mq("desktop") {
        margin-bottom: var(--space-4);
    }
}

.title {
    padding: var(--space-3) 0 0 var(--space-2);

    @include mq("phone-wide") {
        padding-left: var(--space-3);
    }

    @include mq("desktop") {
        padding-left: 0;
    }
}

.viewMore {
    position: absolute;
    top: var(--space-3);
    right: var(--space-2);

    @include mq("phone-wide") {
        right: var(--space-3);
    }

    @include mq("desktop") {
        right: 0;
    }
}

ul.scrollContainer {
    li {
        max-width: 134px;

        @include mq("desktop") {
            max-width: inherit;
            flex: 1;
        }
    }
}
